body {
	margin: 0;
	overflow: hidden;
}
#instructions {
	position: absolute;
	color: rgb(255, 255, 255);
	bottom: 400px;
  
	padding-bottom: 4px;
    padding-top: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
#instructions1 {
	position: absolute;
	color: rgb(255, 255, 255);
	bottom: 300px;
  
	padding-bottom: 4px;
    padding-top: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
	width: 100%;
	text-align: center;
	pointer-events: none;
}