@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
.navbar-brand{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
}
.navbar-brand:hover {
    color: cadetblue !important;
}
* {
    box-sizing:border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float:left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
 
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
.cent {
    margin: 0 auto;
}

.tab {
    margin: 0 auto;
}
.nav-link {
    font-size: 20px;
    font-family:'Roboto condensed';
    margin: 19px;
    color: black !important;

}
.nav-link:hover {
    color: rgb(25, 197, 197) !important;
}
.big-banner {
  background-image: url('../images/image2.jpg');
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}